@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@flaticon/flaticon-uicons/css/all/all";

.fi{
    display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    font-size: 24px;
}

a {
    font-size: 20px !important;
}

